@page "/crear-codigo-regalo/{countryId}"
<PageTitle>Crear Código Promocional By El Salvador</PageTitle>
<div id="mantenimiento">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                 <NavLink class="nav-link" href="/">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                 <NavLink class="nav-link" href="codigos-regalo">
                                    Códigos Regalos
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active"><a>Crear</a></li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <EditForm Model="@giftCodeModel">
                                <DataAnnotationsValidator /> 
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <SfTextBox Placeholder='Nombre Código Regalo' 
                                            FloatLabelType='@FloatLabelType.Auto'
                                            @bind-Value="giftCodeModel.GiftCodeName"
                                            ></SfTextBox>
                                            <ValidationMessage For="@(() => giftCodeModel.GiftCodeName)"></ValidationMessage>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <SfTextBox Placeholder='Código Promoción' 
                                            FloatLabelType='@FloatLabelType.Auto'
                                            @bind-Value="giftCodeModel.GiftCodeCode"
                                            ></SfTextBox>
                                            <ValidationMessage For="@(() => giftCodeModel.GiftCodeCode)"></ValidationMessage>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="input-group mx-auto">
                                               <SfTextBox Placeholder='Cantidad Saldo de Regalo' 
                                                FloatLabelType='@FloatLabelType.Auto'
                                                @bind-Value="giftCodeModel.GiftCodeBalance"
                                                ></SfTextBox>
                                                <ValidationMessage For="@(() => giftCodeModel.GiftCodeBalance)"></ValidationMessage>
                                            </div>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                                <div class="input-group">
                                                    <SfDateRangePicker TValue="DateTime?" Format="dd/MM/yyyy" Placeholder="Selecciona fechas"
                                                    Min="@MinDate"></SfDateRangePicker>
                                                </div>
                                            </div>
                                    <div class="row justify-content-evenly">
                                            <div class="col-md-4">
                                            <button type="button" class="cerrar" @click="back">Cancelar</button>
                                            </div>
                                            <div class="col-md-4">
                                            <SfButton class="añadir">Crear</SfButton>
                                            </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@code {
    public DateTime MinDate {get;set;} = DateTime.Now;
    private GiftCodeDetails giftCodeModel = new GiftCodeDetails();
    public class GiftCodeDetails
    {
         [Required(ErrorMessage = "Please enter {0}.")]
         public string GiftCodeName { get; set; }
         [Required(ErrorMessage = "Please enter {0}.")]
         public string GiftCodeCode { get; set; }
         [Required(ErrorMessage = "Please enter {0}.")]
         public string GiftCodeBalance { get; set; }
         [Required(ErrorMessage = "Please enter {0}.")]
         public string GiftCodeStartEndDates { get; set; }
    }
}
